/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
        font-family: 'Calabri', sans-serif;
        line-height: 1.6;
        padding: 20px;
        background-color: #b9cef5;
      }
    header {
        text-align: center;
        margin-bottom: 20px;
    }
      .profile-img {
        align-items: start;
        width: 200px;
        height: 200px;
      }
      a:hover {
        text-decoration: underline;
      }